body {
  font-family: 'Hiragino Kaku Gothic ProN', meiryo, sans-serif;
  margin: 0px;
  background-color: white;
}

.color_selector {
  cursor: pointer;
  width: 40px;
  height: 25px;
  position: absolute;
}

div.checkerboard {
  background-image: url(../img/checkerboard.png);
}
